# Dependências
/node_modules

# Arquivos de Build/Compilação
/dist
.vite

# Variáveis de Ambiente e Chaves Secretas (CRÍTICO para segurança!)
.env
.env.local
.env.*.local

# Logs e Cache do VS Code/SO
.DS_Store
npm-debug.log*
yarn-debug.log*
# Outros
/build